/* Scroll thumb styling */
:global(::-webkit-scrollbar) {
    width: 6px;
  }
  
  :global(::-webkit-scrollbar)k {
    background: transparent;
  }
  :global(::-webkit-scrollbar) {
    background-color: F7F7FF;
    border-radius: 20px;
  }
  
  :global(::-webkit-scrollbar) {
    background-color: #9ca3af;
  }
  .line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}